<div class="navbar__container">
  <div>
      <a href="/">

          <img class="navbar__image1" src="/img/logoTernium.png" alt="" />
        </a>
  </div>
  <!-- <a href="./Web_CV/CV/index.html"><button class="cvs">Ver CVs</button></a> -->
</div>

<div class="page-content">
